@import '../../styles/variables.scss';

.page-actions {
  padding: 16px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: $border;

  &__left-side,
  &__right-side {
    display: flex;
    align-items: center;
  }

  &__right-side {
    .call-to-action {
      width: 24px;
      height: 24px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;

    &--with-border {
      padding: 0 8px;
      border-left: $border;
    }
  }
}
