@import '../../styles/variables.scss';

.tasks {
  padding: 24px;
  display: flex;
  align-items: start;
  gap: 16px;

  &__wrapper {
    background-color: white;
    padding: 21.5px 24px;
    border-radius: 8px;
    border: $border-thicker;
    width: 290px;
    min-height: calc(100vh - 170px);

    &--header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-bottom: 8px;
      margin-bottom: 16px;
      border-bottom: $border-thicker;

      .call-to-action {
        cursor: default;
      }
    }

    &--title {
      display: flex;
      align-items: center;

      span {
        font-size: 16px;
      }
    }

    &--count {
      button {
        padding: 2px 4px;
      }
    }
  }

  &__droppable-area {
    min-height: calc(100vh - 293px);
  }

  &__task {
    padding: 12px;
    border: $border-thicker;
    border-radius: 4px;
    cursor: pointer;

    &--name {
      display: flex;
      align-items: center;
    }

    &--infos {
      margin-top: 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &--point {
      border: $border-thicker;
      border-radius: 4px;
      width: 24px;
      height: 24px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  .task--infos__right--side {
    display: flex;
    align-items: center;
    gap: 12px;
  }
}
