@import '../../styles/variables.scss';
.create-issue {
  input {
    border: $border;
    outline: 0;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
