@import './variables.scss';

.call-to-action {
  padding: 8px;
  border-radius: 4px;
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
  letter-spacing: 0.25px;

  &--padding-x-12 {
    padding: 8px 12px;
  }
}

.icon {
  width: 16px;
  height: 16px;
}
