@import './variables.scss';

.call-to-action {
  padding: 8px;
  border-radius: 4px;
  width: auto;
  height: 32px;
  display: flex;
  align-items: center;
  letter-spacing: 0.25px;

  &--icon {
    width: 32px;
    height: 32px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    &--smaller {
      width: 24px;
      height: 24px;
    }

    &--extra-small {
      width: 16px;
      height: 16px;
    }

    img {
      width: 100%;
      height: 100%;
    }
  }

  &--padding-x-12 {
    padding: 8px 12px;
  }
}
