@import '../../styles/variables.scss';

.header {
  padding: 12px 0;
  border-bottom: $border;

  &__logo-wrapper {
    padding: 0 18px;
    border-right: $border;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 24px;
  }

  &__filters {
    display: flex;
    align-items: center;
  }

  &__search {
    display: flex;
    align-items: center;

    &-input {
      border: none;
      outline: none;
      background-color: unset;
      margin-left: 4px;
      font-size: 12px;
      width: 200px;
    }
  }
}
