@import '../../styles/variables.scss';

.nav {
  border-right: $border;
  min-height: calc(100vh - 57px);
  padding: 16px 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__items {
    padding: 0 4px;
  }

  &__item {
    height: 32px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;

    &:not(.nav__item:first-child):not(.nav__item--company-info) {
      margin-top: 8px;
    }

    &.active {
      background-color: $blue;
      color: white;
      position: relative;

      &::after {
        content: '';
        width: 5px;
        height: 5px;
        background-color: white;
        border-radius: 1.5px;
        position: absolute;
        top: 50%;
        right: 8px;
        transform: translateY(-50%);
      }
    }

    &--company-info {
      border-top: $border;
      padding: 16px 8px;
      height: unset;

      &:not(.nav__item--company-info:last-child) {
        margin-top: 8px;
      }

      &:last-child {
        padding-bottom: 6px;
      }
    }
  }
}
